@import "tailwindcss";

@theme {
  --color-primary: #B3001B;
  --color-secondary: #262626;
  --color-accent: #EDEBD7;
}

.intro-container {
  @apply w-full h-screen flex flex-col justify-center items-center gap-y-6 sm:gap-y-4;
  @apply landscape:flex-row;
}


.intro-container .logo-section {
  @apply landscape:w-5/12 landscape:flex-auto landscape:flex landscape:justify-center;
}

.intro-container .logo-section .logo-frame {
  @apply rounded-full border-0 border-primary p-6 sm:p-10 lg:p-14 flex items-center;
  @apply relative size-44 sm:size-72 md:mb-6 lg:size-80 ;
}

.intro-container .logo-section .logo-frame::before {
  content: "";
  @apply rounded-full border-t-10 border-b-10 border-primary; 
  @apply p-6 sm:p-10 lg:p-14 flex items-center;
  @apply size-52 sm:size-80 md:size-80 md:mb-6;
  @apply animate-spin absolute -top-5 -left-4 lg:-top-1 lg:-left-2 xl:top-0 xl:-left-2;
}

.intro-container .info-section {
  @apply xl:flex-auto flex flex-col justify-center items-center;
  @apply portrait:gap-y-6 portrait:sm:gap-y-8 portrait:lg:gap-y-6 portrait:xl:gap-y-8;
  @apply text-center;

  @apply landscape:justify-start landscape:items-start;
  @apply landscape:text-left landscape:w-7/12 landscape:gap-y-2;
  @apply landscape:md:gap-y-6;
}

.intro-container .info-section .first-child {
  @apply animate-bounce text-accent font-bold text-2xl sm:text-4xl lg:text-5xl xl:px-20;
}

.intro-container .info-section .second-child {
  @apply bg-primary rounded-xl py-2 px-5 sm:py-3 lg:py-4 w-10/12 xl:px-20;
  @apply landscape:w-full;
}

.intro-container .info-section .third-child {
  @apply text-accent w-9/12;
  @apply text-lg sm:text-2xl xl:px-20;
  @apply leading-8 sm:leading-loose lg:leading-loose xl:leading-relaxed;
  @apply landscape:w-full landscape:text-base;
  @apply landscape:md:text-2xl;
}

@screen landscape-h-md {
  .intro-container .info-section {
    @apply gap-y-8;
  }

  .intro-container .info-section .third-child {
    @apply text-2xl;
  }
}

@screen landscape-h-lg {
  .intro-container .logo-section {
    @apply w-4/12;
  }

  .intro-container .info-section {
    @apply w-8/12 text-2xl;
  }
}

.tool-container {
  @apply w-full rounded-2xl bg-primary text-center p-8 sm:p-12 lg:p-20 xl:py-10 xl:mb-20;
}

.tool-container .header, .work-container .header {
  @apply text-accent font-bold text-2xl sm:text-4xl lg:text-5xl xl:text-3xl;
}

.tool-container .logo-list {
  @apply flex flex-wrap flex-row justify-center pt-7;
  @apply sm:pt-10 lg:pt-12 gap-4 sm:gap-8 lg:gap-10;
}

.tool-container .logo-list .iconify {
  @apply text-accent text-6xl sm:text-7xl lg:text-8xl;
}

.work-container {
    @apply w-full text-center p-10 mt-10;
}

.work-container .work-list {
    @apply flex flex-wrap flex-row justify-center pt-10 gap-10;
}

.work-card {
    @apply shadow-md bg-primary w-64 sm:w-72 lg:w-80 rounded-2xl;
}

.work-card figure {
    @apply h-40 sm:h-44 lg:h-48;
}

.work-card figure img {
    @apply rounded-t-2xl h-full w-full object-cover;
}

.work-card .main-content {
    @apply px-6 sm:px-9 h-40 sm:h-44 lg:h-48;
}

.work-card .main-content a {
    @apply mt-10 text-accent font-bold text-xl lg:text-2xl hover:underline;
}

.work-card .main-content .description {
    @apply mt-3 text-base font-medium lg:text-lg text-accent text-justify tracking-wide leading-6 lg:leading-8;
}

@screen landscape-h-sm {
  .intro-container .info-section {
    @apply gap-y-1 sm:gap-y-8;
  }

  .intro-container .info-section .third-child {
    @apply text-lg;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #262626;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #edebd7;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
